$projectClassPrefix: '' !default;

.#{$projectClassPrefix}angularSvg {
	height: 100%;
}

.#{$projectClassPrefix}angularSvg_content {
	font-size: 0;
	height: 100%;
	width: 100%;

	svg
	{
		height: 100%;
		width: 100%;
	}
}